html,
body {
  margin: 0;
  padding: 0;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
}

.commandline {
  position: absolute;
  bottom: 40px;
  left: 10px;
  margin: 20px;
  width: 90%;
}

canvas {
  border: 1px solid black;
  background-color: beige;
  margin: 20px;
  width: 500px;
  height: 400px;
}
